
<!-- <div id="carouselBlk">
	<div id="myCarousel" class="carousel slide">
		<div class="carousel-inner">
			<div class="item active">
				<div class="container">
					<a href="#/home" ><img style="width:100%" src="themes/images/carousel/lo.jfif" alt="special offers" /></a>
					<div class="carousel-caption">
						<h4>Second Thumbnail label</h4>
						<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
							Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="container">
					<a href="#/home" ><img style="width:100%" src="themes/images/carousel/fo.jfif" alt="" /></a>
					<div class="carousel-caption">
						<h4>Second Thumbnail label</h4>
						<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
							Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					</div>
				</div>
			</div>
			<div class="item">
				<div class="container">
					<a href="#/home" ><img src="themes/images/carousel/ko.jfif" alt="" /></a>
					<div class="carousel-caption">
						<h4>Second Thumbnail label</h4>
						<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
							Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					</div>

				</div>
			</div>
			<div class="item">
				<div class="container">
					<a href="#/home" ><img src="themes/images/carousel/po.jfif" alt="" /></a>
					<div class="carousel-caption">
						<h4>Second Thumbnail label</h4>
						<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
							Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					</div>

				</div>
			</div>
			<div class="item">
				<div class="container">
					<a href="#/home" ><img src="themes/images/carousel/jo.jfif" alt="" /></a>
					<div class="carousel-caption">
						<h4>Second Thumbnail label</h4>
						<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus.
							Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
					</div>
				</div>
			</div>

		</div>
		<a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
</div> -->

<!-- Sidebar start=============================================== -->
<!--Sidebar end=============================================== -->
<div class="CoverImage FlexEmbed FlexEmbed--2by1"
     style="background-image:url(/img/cover.jpeg)"
></div>
<div id="mainBody">
	
	<div class="container">
		<div class="row">


			<div class="span1" style="margin-left:120px;">
			</div>
			<div class="span9">

				<h4>Categories </h4>

				<ul class="thumbnails">
					<li class="span3">
						<div class="thumbnail">
							<a href="#/home"><img src="img/1.jpeg" alt="" /></a>
							<div class="caption">
								<h5>Vehicles</h5>

							</div>
						</div>
					</li>
					<li class="span3">
						<div class="thumbnail">
							<a href="#/home"><img src="img/2.jpeg" alt="" /></a>
							<div class="caption">
								<h5><br><br>Fashion & Beauty</h5>

							</div>
						</div>
					</li>
					<li class="span3">
						<div class="thumbnail">
							<a href="#/home"><img src="img/4.jpeg" alt="" /></a>
							<div class="caption">
								<h5>Electronics</h5>
							</div>
						</div>
					</li>
					<!-- <li class="span3">
				  <div class="thumbnail">
					<a  href="#/home" ><img src="themes/images/products/9.jpg" alt=""  /></a>
					<div class="caption">	
					  <h5>Mobile & Tablets </h5>
					</div>
				  </div>
				</li> -->
					<li class="span3">
						<div class="thumbnail">
							<a href="#/home"><img src="img/6.jpeg" alt="" /></a>
							<div class="caption">
								<h5>General Items </h5>
							</div>
						</div>
					</li>
					<li class="span3">
						<div class="thumbnail">
							<a href="#/home"><img src="themes/images/products/10.jpg" alt="" /></a>
							<div class="caption">
								<h5>Furniture & Home Decoration</h5>
							</div>
						</div>
					</li>
					<li class="span3">
						<div class="thumbnail">
							<a href="#/home"><img src="themes/images/products/11.jpg" alt="" /></a>
							<div class="caption">
								<h5>Property</h5>
							</div>
						</div>
					</li>
				</ul>

			</div>
		</div>
	</div>
</div>

